:root{
    --main-color: #b20c1a;
    --secondary-color: #cc8c13;
    --thirdy-color: #19160b;
    --color-background-article: rgba(176, 12, 26, 0.5);
    --color-border-article: rgba(178, 12, 26, 1);
    --color-top-card-article: #ff132a;
    --color-bottom-card-article: #47050a;
    --color-hover-select: #e29e1f;
    --color-shadowBottom-welcomeBtn: #9b6a0e;
    --color-shadowTop-welcomeBtn: #fdae18;
}

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.app
{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background: #edf1f4;
}

.header,
.footer
{
    width: 100%;
    height: 10vh;
}

.mainBody,
.secondaryBody,
.thirdBody
{
    width: 100%;
    min-height: 90vh;
}

.mainBody
{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.footer
{
    order: 5;
}

::-webkit-scrollbar
{
    width: 12px;
}

::-webkit-scrollbar-thumb
{
    background: linear-gradient(transparent,var(--main-color));
    border-radius: 6px;
}