.grid
{
    background-image: url(../images/background04.jpg);
    background-size: cover;
    background-position: center;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: .5fr repeat(3, 1fr) .5fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    width: 100%;
    height: 100vh;
}

.grid__header
{
    grid-area: 1 / 1 / 2 / 6;
}

.grid__article
{
    grid-area: 2 / 1 / 5 / 2;
    margin-top: 0.7vw;
    margin-left: 0.7vw;
    width: 100%;
    background: var(--color-background-article);
    border-radius: 1.12vw;
    box-shadow: 0 .28vw 2.1vw rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.2px);
    -webkit-backdrop-filter: blur(6.2px);
    border: .07vw solid var(--color-border-article);
    overflow: hidden;
}

.grid__section
{
    grid-area: 2 / 2 / 5 / 6;
    margin-top: 0.7vw;
    margin-left: 0.7vw;
}

.grid__footer
{
    grid-area: 5 / 1 / 6 / 6;
    margin-top: 3vh;
}