@import url('https://fonts.googleapis.com/css2?family=Akshar&display=swap');

.contFooter
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: var(--thirdy-color);
}

.contFooter__contBoxImg
{
    width: 15vw;
    height: 10vh;
    background-image: url(../images/logo.png);
    background-size: cover;
    background-position: center;
}

.contFooter__contBoxSocial
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.contFooter__contBoxSocial a
{
    margin-left: 1vw;
}

.contFooter__contBoxCopy
{
    font-family: 'Akshar', sans-serif;
    color: #fff;
    margin-right: 1vw;
}