@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

.nav
{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    font-family: 'Righteous', cursive;
    background: #1A4D2E;
}

.nav_contImg
{
    width: 15vw;
    height: 10vh;
    background-image: url(../images/logo.png);
    background-size: cover;
    background-position: center;
}

.nav_contBtn
{
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: center;
    margin-right: 1vw;
    margin-top: 1vh;
    height: 50%;
}

.nav_contBtn li
{
    display: inline;
    padding-right: 0.5em;
    padding-left: 0.5em;
    font-family: 'Acme', sans-serif;
    font-size: 2vw;
    height: 7vh;
    padding-top: 1vh;
    transition: .7s;
    margin-left: 1vw;
}

.nav_contBtn li:hover
{
    border-radius: .2vw;
    background: #1A4D2E;
    box-shadow:  -5px 5px 18px #0a1f12, 5px -5px 18px #2a7b4a;
}

.navLink
{
    font-family: 'Righteous', cursive;
    text-decoration: none;
    color: var(--main-color);
}