.contNotPage
{
    width: 97%;
    height: 74vh;
    background: rgba(178, 12, 26, 0.58);
    border-radius: 1.3vw;
    box-shadow: 0 0.28vw 2.1vw rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8.6px);
    -webkit-backdrop-filter: blur(8.6px);
    border: 1px solid rgba(178, 12, 26, 1);
    margin-left: 2vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.boxNotPage
{
    background-image: url(../images/notfound2.png);
    background-size: cover;
    background-position: center;
    width: 50%;
    height: 50vh;
}