@import url('https://fonts.googleapis.com/css2?family=Akshar&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');

.contControlPagination
{
    position: relative;
    display: flex;
    justify-content: center;
    font-family: 'Akshar', sans-serif;
    font-weight: 600;
}

.contControlPagination li
{
    list-style: none;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3vw;
    height: 7vh;
    font-size: 1.5vw;
    background: var(--main-color);
    color: var(--thirdy-color);
    margin: .6vw;
    border-radius: .8vw;
    transition: background 2s, color .5s;
}

.contControlPagination li:hover
{
    cursor: pointer;
    color: #fff;
}

li.active
{
    background: var(--secondary-color);
}

.contControlPagination__Btn
{
    width: 3vw;
    height: 7vh;
    background: var(--main-color);
    border-radius: .8vw;
    cursor: pointer;
}

.contCards
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    align-content: center;
}

.card
{
    position: relative;
    width: 20vw;
    height: 26vh;
    margin-top: 10vh;
    margin-bottom: 4vh;
    border-radius: 1vw;
    background: linear-gradient(225deg, #b87e11, #da9614);
    box-shadow:  -.35vw .35vw .49vw #523808, .35vw -.35vw .49vw #ffe01e;
    display: flex;
    align-items: center;
}

.card__imgBox
{
    position: absolute;
    left: 50%;
    top: -9vh;
    transform: translateX(-50%);
    width: 15vw;
    height: 21vh;
    background: #fff;
    border-radius: 1vw;
    box-shadow: 0 1.05vw 3.5vw rgba(0,0,0,0.35);
    overflow: hidden;
}

.card__imgBox img
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card__contInfo
{
    position: absolute;
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.nameP
{
    font-size: 1.7vw;
    font-family: 'Courgette', cursive;
    color: var(--thirdy-color);
    font-weight: 600;
}

.nameC
{
    font-size: 1.4vw;
    font-family: 'Akshar', sans-serif;
    color: var(--thirdy-color);
}

/* ::-webkit-scrollbar
{
    width: 0;
} */

::-webkit-scrollbar
{
    width: 12px;
}

::-webkit-scrollbar-thumb
{
    background: linear-gradient(transparent,var(--main-color));
    border-radius: 6px;
}
